* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --primary: #2752E7;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-light-text: #a9a9a9;
    --color-light-blue: #D0DBFF;
    --color-light: #cacaca;
    --color-para: #626262;
    --color-black: #2c3131;
    --color-background: #e3e3e3;
    --color-danger-variant: rgba(255, 255, 255, 0.7);
    --white: #fff;
}

p {
    font-size: 14px;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}


h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 46px;
}

h2 {
    font-size: 33px;
}

h3{
    font-size: 28px;
}

h4 {
    font-size: 20px;
}
h5{
    font-size: 16px;
}
.container {
    width: 80vw;
}

nav {
    top: 0;
    font-size: 16px;
    background: var(--white);
    width: 100vw;
    position: fixed;
    z-index: 11;
}

.nav {
    margin: auto;
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
}

.nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

#login {
    font-weight: 600;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

nav button {
    font-size: 14px;
}

#register {
    color: var(--primary);
    font-weight: 600;
    padding: 10px 18px;
    border: 2px solid var(--primary);
    background-color: transparent;
    border-radius: 10px;
}

header {
    background-size: cover;
    background-image: url(./images/cryptoBg.png);
    background-repeat: no-repeat;
    position: sticky;
}

.header_container {
    margin: auto;
    margin-top: 8rem;
    align-items: center;
    text-align: center;
}

header h1 {
    color: var(--black);
    width: 360px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

header p {
    margin: auto;
    width: 400px;
    color: var(--color-para);
    margin-bottom: 10px;
}

.bigSpur img {
    margin: 2rem auto auto;
    width: 80%;
}

.color {
    color: var(--primary);
}

header input[type='email'] {
    font-size: 14px;
    width: 20rem;
    padding: 1rem;
    margin-top: 1rem;
    text-align: start;
    border: solid 1px var(--color-light);
    border-radius: 8px;
}

header input[type='submit'] {
    font-size: 14px;
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--primary);
    border: none;
    color: var(--white);
    border-radius: 8px;
}

.frame {
    margin: auto;
}

.brand {
    margin: 3rem auto;
    justify-content: space-between;
    display: flex;
}

.stats {
    margin: auto;
    margin-bottom: 4rem;
    display: grid;
    border: 1px solid var(--color-light);
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.stats p {
    font-size: 12px;
    color: var(--color-para);
}

.statsCard {
    border-right: 1px solid var(--color-light);
    padding: 2rem;
    text-align: center;
}

.statsCard:last-child {
    border: none;
}

.benefits {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.benefitInfo {
    margin: auto 6rem;
}

.benefit {
    margin: 1.6rem auto;
    display: flex;
}

.benefit h3 {
    color: var(--color-light-blue);
}

.benefit p {
    width: 70%;
    margin-top: 0.5rem;
    color: var(--color-para);
}

.benefitDetails {
    margin: auto 1rem;
}

hr {
    color: var(--color-light-blue);
    width: 70%;
}

.benefitImg img {
    max-height: 100%;
    max-width: 100%;
}

.features {
    margin: auto;
}

.feature {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.featureImg img {
    height: 100%;
    width: 100%;
}

.featureInfo {
    margin: auto;
    width: 50%;
}

.feature p {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.5;
}

.howItWorks {
    margin-bottom: 5rem;
    text-align: center;

}

.howItWorks h2 {
    padding-top: 2rem;
    width: 30%;
    margin: auto auto 1rem;
}

.steps_container {
    background-color: var(--color-light-blue);
    height: 280px;
    position: relative;
    top: -14rem;
    width: 100%;
}

.steps {
    width: 70%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.step {
    z-index: 1;
    border: 0.7px solid var(--color-background);
    padding: 2rem 2rem;
    border-radius: 10px;
    background-color: var(--white);
}

.step h5{
    margin-bottom: 0.6rem;
}

.reviews {
    width: 70%;
    margin: -12rem auto 5rem;
    height: 84vh;
    overflow: scroll;
}

.reviews h2 {
    text-align: center;
}

.review_container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
}

.review h6 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.review img {
    height: 40px;
    width: 40px;
}

.review {
    border: 1px solid var(--color-light);
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
}

.review p {
    font-size: 16px;
    color: var(--color-para);
}

.title {
    display: flex;
}

.name {
    margin: auto 0.6rem 1rem;
}

.name p {
    color: var(--color-light);
    font-size: 10px;
}

.cta {
    margin: 8rem auto;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/Frame\ 5457.svg);
}

.cta h3{
    color: var(--white);
    padding-bottom: 1.4rem;
}

.action{
    padding: 5rem;
    align-items: center;
    justify-content: left;
    width: 500px;
}

#register2{
    color: var(--primary);
    font-weight: 600;
    padding: 12px 22px;
    background:var(--white);
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.btcImg{
    top: -21rem;
    position: relative;
    left: 62%;
    width: 120px;
}

.lunaImg{
    top: -12rem;
    position: relative;
    left: 40rem;
    width: 90px;
}

.ethImg{
    top: -14rem;
    position: relative;
    left: 58%;
    width: 110px;
}

footer {
    margin:auto;
}

.footer{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1.2fr 2.8fr;
    gap: 2rem;
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.options p{
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 1rem;
}

.options a {
    color: var(--color-black);
    display: flex;
    margin-bottom: 0.8rem;
    text-decoration: none;
}

footer hr{
    width: 100vw;
}

.copyright {
    text-align: center;
    margin: 2rem auto;
}


@media  screen and (max-width: 718px) {
    .container{
        width:100vw;
        }
        
.menu{
background-color: none;
}
    .navMenu {
        bottom: 3rem;
        width: 100%;
        margin: 4rem 0 auto auto; /* Add this line to set the margin top */
        display: flex;
        background-color: var(--color-light-blue);
      }
      
      .navMenu li {
        padding: 0;
        margin-bottom: 1rem;
      }
      .navMenu a {
        padding: 1rem;
        text-decoration: none;
        background-color: none;
      }

      .navMenu:hover a {
        background-color: var(--primary);
      }
      .menuBtn{
        margin-right: 10px;
      }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
    h3{
        font-size: 18px;
    }

    #menu {
            display: none;
    }

    nav button{
        display: none;
    }

    .header_container {
        margin: 5rem auto 0rem;
        width: 100%;
    }

    header h1 {
        width: 70%;
    }

    header p {
        margin: auto;
        width: 60%;
    }

    .bigSpur{
        margin: auto;
        width: 100%;
    }

    header input[type='email'] {
        width: 40%;
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 10px;
    }

    header input[type='submit'] {
        padding: 1rem;
        border-radius: 10px;
    }

    .brand {
        margin: 3rem auto;
        justify-content: space-between;
        display: flex;
    }

    .stats {
        margin: auto;
        margin-bottom: 3rem;
        border: none;
        border-radius:none;
        gap: 1rem;
    }
    
     .statsCard {
        border: none;
    }

    .stats {
        border: none;
        border-radius: none;
    }
    
    .statsCard {
        border-right: none;
    }

    .benefits {
        margin: 3rem auto;
        display: block;
        gap: 2rem;  
    }
    
    .benefitInfo {
        margin: auto;
        align-items: center;
        width: 80%;
    }
    
    .benefit {
        margin: 1.6rem auto;
        display: flex;
    }

    .benefitImg {
        width: 100vw;
        margin: 3rem 0rem;
    }

    .benefitImg img {
        height: 100%;
        width: 100%;
    }

    .feature {
    width: 100%;
    margin: 3rem auto;
    display: block;
    }

    .featureImg {
        width: 80%;
        margin: auto;
    }

    .featureInfo {
        margin: auto;
        width: 80%;
        text-align: center;
        padding: 2rem;
    }

    .featureInfo p {
        margin: auto;
        padding-top: 0.6rem;
    }

    .howItWorks {
        background-color: var(--color-light-blue);
        margin-bottom: 3rem;
        padding: 1rem;
    }

    .howItWorks h2 {
        width: 70%;
    }
   
    .steps_container {
        position: static;
        display: none;
    }
   
    .steps {
        width: 100%;
        margin: 3rem auto;
        display: block;
    }

    .step {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .review_container {
        width: 80%;
        margin: auto;
        display: block;
        max-height: 30vh;
    }

    .review {
        margin-bottom: 2rem;
    }

    .reviews {
        margin: 3rem auto;
    }

    .cta {
        margin: 3rem auto;
        height: 40vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./images/Frame\ 5457.svg);
    }

    .action{
        padding: 2rem;
        width: 300px;
    } 

    #register2 {
        font-weight: 300;
        padding: 10px 18px;
        background:var(--white);
        border-radius: 8px;
        border: none;
        font-size: 12px;
    }
    
    .btcImg {
        display: none;
    }
    
    .lunaImg {
        display: none;
    }
    
    .ethImg {
        display: none;
    }
    
    .footer {
        margin: -5rem 1rem auto 1rem;
        display: block;
    }
    
    .optionsContainer {
        display: block;
        margin: 2rem auto;
    }
    
    .options p{
        font-weight: bolder;
        font-size: 16px;
        margin-bottom: 1rem;
    }
    
    .options a {
        color: var(--color-black);
        display: flex;
        margin-bottom: 1rem;
        text-decoration: none;
    }

}
