* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 0; */
  outline: 0;
  text-decoration: none;
}

:root {
  --primary: #2752e7;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-light-text: #a9a9a9;
  --color-light-blue: #d0dbff;
  --color-light: #cacaca;
  --color-para: #626262;
  --color-black: #2c3131;
  --color-background: #e3e3e3;
  --color-danger-variant: rgba(255, 255, 255, 0.7);
  --white: #fff;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

p {
  font-size: 14px;
  color: var(--color-para);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-family: "Inter";
  font-size: 46px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/* desktop view */

.container {
  width: var(--container-width-lg);
}

nav {
  top: 0;
  left: 0;
  background: var(--white);
  width: 100%;
  position: fixed;
  z-index: 11;
}

.nav {
  margin: auto;
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 4rem;
}

.menuBtn {
  display: none;
}

.closeBtn {
  display: none;
}

.nav a {
  color: var(--color-black);
}

#login {
  font-weight: 600;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

#register {
  color: var(--primary);
  font-weight: 600;
  padding: 10px 18px;
  border: 2px solid var(--primary);
  background-color: transparent;
  border-radius: 10px;
}

/* header section */
header {
  background-size: cover;
  background-image: url(./images/cryptoBg.png);
  background-repeat: no-repeat;
}

.header_container {
  margin: auto;
  margin-top: 8rem;
  align-items: center;
  text-align: center;
}

header h1 {
  color: var(--black);
  margin-bottom: 10px;
}

header p {
  margin: auto;
  width: 400px;
  margin-bottom: 0.4rem;
}

.bigSpur img {
  margin: 2rem auto;
  height: 840px;
  width: 90%;
}

.color {
  color: var(--primary);
}

header input[type="email"] {
  font-size: 14px;
  width: 20rem;
  padding: 1rem;
  margin-top: 1rem;
  text-align: start;
  border: solid 1px var(--color-light);
  border-radius: 8px;
}

header input[type="submit"] {
  font-size: 14px;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--primary);
  border: none;
  color: var(--white);
  border-radius: 8px;
}

/* brands section */
.brand {
  margin: auto auto 5rem;
  display: flex;
  justify-content: space-evenly;
}

/* stats section */
.stats {
  margin: auto;
  display: grid;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.stats p {
  font-size: 12px;
  color: var(--color-para);
}

.statsCard {
  border-right: 1px solid var(--color-light);
  padding: 2rem;
  text-align: center;
}

.statsCard:last-child {
  border: none;
}

/* benefits */

.benefits {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.benefitInfo {
  margin: auto 6rem;
}

.benefit {
  margin: 1.6rem auto;
  display: flex;
}

.benefit h4 {
  color: var(--color-light-blue);
}

.benefit p {
  width: 80%;
  margin-top: 0.5rem;
  color: var(--color-para);
}

.benefitDetails {
  margin: auto 1rem;
}

.benefits hr {
  color: var(--color-light-blue);
  width: 80%;
}

.benefitImg img {
  height: 100%;
  width: 100%;
}

/* features section */

.features {
  margin: auto;
}

.feature {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  animation: slideInFromLeft 400ms linear forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start off the screen to the left */
  }
  100% {
    transform: translateX(0); /* Slide in from the left */
  }
}

.featureImg j{

  animation-delay: 2s;
}

.featureImg img {
  height: 700px;
  width: 100%;
}

.featureInfo {
  margin: auto;
  width: 60%;
}

.feature p {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.5;
}

/* how it works */

.howItWorks {
  margin-bottom: 5rem;
  text-align: center;
}

.howItWorks h2 {
  padding-top: 2rem;
  width: 30%;
  margin: auto auto 1rem;
}

/* steps */
.steps_container {
  background-color: var(--color-light-blue);
  height: 280px;
  position: relative;
  top: -14rem;
  width: 100%;
}

.steps {
  width: 70%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.step {
  z-index: 1;
  border: 1px solid var(--color-background);
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--white);
}

.step h5 {
  margin-bottom: 0.6rem;
}

.reviews {
  width: 70%;
  margin: -12rem auto 5rem;
}

.reviews h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.review_container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
  height: 80vh;
  overflow: scroll;
}

.review h6 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.review img {
  height: 40px;
  width: 40px;
}

.review {
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
}

.review p {
  font-size: 16px;
  color: var(--color-para);
}

.title {
  display: flex;
}

.name {
  margin: auto 0.6rem 1rem;
}

.name p {
  color: var(--color-light);
  font-size: 10px;
}

.cta {
  margin: auto;
  height: 300px;
}

.cta h3 {
  color: var(--white);
  padding-bottom: 1.4rem;
}

.test {
  width: 100%;
  background-image: url(./images/Frame\ 5457.svg);
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 100%;
}

.action {
  padding: 5rem;
  align-items: center;
  justify-content: left;
  width: 40%;
}

#register2 {
  color: var(--primary);
  font-weight: 600;
  padding: 12px 22px;
  background: var(--white);
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

.btcImg {
  top: -22rem;
  position: relative;
  left: 48rem;
  width: 120px;
}

.lunaImg {
  top: -10rem;
  position: relative;
  left: 51rem;
  width: 100px;
}

.ethImg {
  top: -13rem;
  position: relative;
  left: 44rem;
  width: 120px;
}

footer {
  margin: 5rem auto auto;
}

.footer {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1.2fr 2.8fr;
  gap: 2rem;
}

.options h5 {
  margin-bottom: 1rem;
}

.optionsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.options a {
  color: var(--color-black);
  font-size: 12px;
  display: flex;
  margin-bottom: 1.6rem;
}

footer hr {
  width: 100vw;
}

.socials {
  margin-top: 1rem;
}

.socials a {
  font-size: 24px;
  padding-right: 1rem;
  color: var(--primary);
}

.copyright {
  text-align: center;
  margin: 2rem auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  .nav {
    margin: auto;
    width: 100vw;
    height: 3rem;
  }

  .nav h1 {
    margin-left: 4px;
  }

  .menuBtn {
    display: block;
    border: none;
    font-size: 20px;
    color: var(--primary);
    cursor: pointer;
    background: transparent;
    margin-right: 8px;
  }

  .closeBtn {
    background: transparent;
    font-size: 14px;
    border: none;
    color: var(--primary);
    cursor: pointer;
    margin-right: 8px;
  }

  #register {
    display: none;
  }

  #login {
    display: none;
  }

  .navMenu {
    position: fixed;
    top: 7rem;
    right: 1%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
  }

  .navMenu li {
    margin-top: -4rem;
    width: 100%;
    height: 4rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .navMenu li:nth-child(2)j {
    animation-delay: 2s;
  }

  .navMenu li:nth-child(3)j {
    animation-delay: 3s;
  }

  .navMenu li:nth-child(4)j {
    animation-delay: 4s;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .navMenu li a {
    background: var(--color-light-blue);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .navMenu li a:hover {
    background: var(--primary);
    color: var(--white);
  }

  .bigSpur img {
    margin: 2rem auto;
    height: 700px;
    width: 100%;
  }

  .stats {
    width: 50%;
    border: none;
    grid-template-columns: repeat(2, 1fr);
  }

  .statsCard:nth-child(2) {
    border-right: none;
  }

  .benefit p {
    width: 100%;
  }

  .benefitInfo {
    margin: auto 3rem;
  }

  .benefitImg img {
    height: 100%;
    width: 100%;
  }

  .featureImg img {
    height: 100%;
    width: 100%;
  }

  .steps {
    width: 90%;
  }

  .step {
    padding: 1rem;
  }

  .ethImg {
    display: none;
  }

  .btcImg {
    display: none;
  }

  .lunaImg {
    display: none;
  }

  .cta {
    height: 200px;
  }

  .action {
    padding: 3rem;
    width: 60%;
  }

  .socials a {
    font-size: 16px;
    padding-right: 8px;
    color: var(--primary);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .brand {
    display: none;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  .nav {
    margin: auto;
    width: 100vw;
    height: 3rem;
  }

  .nav h1 {
    margin-left: 4px;
  }

  .bigSpur img {
    width: 98%;
    height: 400px;
  }

  .header_container {
    margin: 6rem auto 0rem;
    width: 100%;
  }

  header p {
    margin: auto;
    width: 60%;
  }

  header input[type="email"] {
    width: 50%;
    padding: 0.6rem;
    margin-top: 1rem;
    border-radius: 10px;
  }

  header input[type="submit"] {
    padding: 0.6rem;
    border-radius: 10px;
  }

  .stats {
    margin: auto;
    border: none;
    display: block;
    border-radius: none;
  }

  .statsCard {
    border: none;
    display: block;
    text-align: center;
  }

  .stats {
    border: none;
    border-radius: none;
  }

  .statsCard {
    border-right: none;
  }

  .benefits {
    margin: 3rem auto;
    display: block;
    gap: 2rem;
  }

  .benefitInfo {
    margin: auto;
    align-items: center;
    width: 80%;
  }

  .benefit {
    margin: 1.6rem auto;
    display: flex;
  }

  .benefitImg {
    width: 100vw;
    margin: 3rem 0rem;
  }

  .benefitImg img {
    height: 100%;
    width: 100%;
  }

  .feature {
    width: 100%;
    margin: 3rem auto;
    display: block;
  }

  .featureImg {
    width: 80%;
    margin: auto;
  }

  .featureInfo {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 2rem;
  }

  .featureInfo p {
    margin: auto;
    padding-top: 0.6rem;
  }

  .howItWorks {
    background-color: var(--color-light-blue);
    margin-bottom: 3rem;
    padding: 1rem;
  }

  .howItWorks h2 {
    width: 70%;
  }

  .steps_container {
    position: static;
    display: none;
  }

  .steps {
    width: 100%;
    margin: 3rem auto;
    display: block;
  }

  .step {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .review_container {
    width: 80%;
    margin: auto;
    display: block;
    max-height: 30vh;
  }

  .review {
    margin-bottom: 2rem;
  }

  .reviews {
    margin: auto;
  }

  .cta {
    margin: 3rem auto;
  }

  .action {
    padding: 2rem;
    width: 60%;
  }

  .cta h3 {
    padding-bottom: 14px;
  }

  #register2 {
    padding: 4px 12px;
    background: var(--white);
    border-radius: 4px;
    border: none;
    font-size: 12px;
  }

  .btcImg {
    display: none;
  }

  .lunaImg {
    display: none;
  }

  .ethImg {
    display: none;
  }

  .footer {
    margin: 1rem;
    display: block;
  }

  .optionsContainer {
    display: block;
    margin: 2rem auto;
  }

  .options p {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 1rem;
  }
}
